header {
    position: fixed;
    /* Fixuje header na vrchu obrazovky */
    top: 0;
    left: 0;
    width: 100%;
    /* Zabírá celou šířku obrazovky */
    z-index: 1000;
    /* Zajistí, že bude nad ostatními prvky */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2rem;
    height: 88px;
    background-color: var(--surface-container-low);
    transition: background-color 0.3s ease, color .3s ease;
    color: var(--text);
    box-sizing: border-box;
    /* Zahrne padding do šířky */
}

header a {
    color: var(--text);
    text-decoration: none;
    transition: all .3s ease;
}

.desktop-nav {
    display: none;
}

.desktop-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.desktop-links li {
    text-align: center;
}

.desktop-links li a {
    border-radius: 100px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 1.2rem;
}

.desktop-links li a:hover {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    transition: all .3s ease;
}

.desktop-links a.active-page {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.desktop-links a.active-page:hover {
    background-color: var(--text);
    color: var(--surface);
}

@media (min-width: 768px) {
    header {
        background-color: var(--surface);
        transition: background-color 0.3s ease, color .3s ease;
    }
    header a {
        font-size: 1.5rem;
        transition: all .3s ease;
    }

    .desktop-nav {
        display: flex;
        margin-left: auto;
    }
}