@import "header.css";
@import "main.css";
@import "footer.css";

@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Alata:wght@300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght@20..48,100..700&icon_names=content_copy");

@import "theme-green.css";

:root {
  font-family: Alata;
  /* font-family: Figtree; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  color: var(--text);
  background-color: var(--surface);

  transition: background-color 0.3s ease, color .3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings:
    'wght' 400,
    'opsz' 24
}

body {
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.img_responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.center {
  text-align: center;
}


.hamburger-row {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
}

.hamburger {
  display: block;
}

.hamburger-nav {
  text-align: center;
}

.hamburger-nav ul {
  position: absolute;
  /* Absolutní pozice uvnitř rodiče */
  top: 43%;
  /* Posune na 50 % výšky rodiče */
  left: 50%;
  /* Posune na 50 % šířky rodiče */
  transform: translate(-50%, -50%);
  /* Posune přesně na střed */
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* Položky pod sebou */
  text-align: center;
  width: 300px;
}

.hamburger-nav a {
  font-size: 2rem;
  display: block;
  padding: 0.25em 1.5em;
  margin: 2px;
  background-color: var(--surface-container-low);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.hamburger-nav a:hover {
  background-color: var(--surface);
  transition: all 0.3s ease;
}

.hamburger-links .active-page {
  background-color: var(--secondary) !important;
  color: var(--on-secondary);
}

.hamburger-links a:first-child {
  border-top-left-radius: 22px;
  /* Větší zakulacení levého horního rohu */
  border-top-right-radius: 22px;
  /* Větší zakulacení pravého horního rohu */
}

.hamburger-links a:last-child {
  border-bottom-left-radius: 22px;
  /* Větší zakulacení levého spodního rohu */
  border-bottom-right-radius: 22px;
  /* Větší zakulacení pravého spodního rohu */
}

.hamburger-socials {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 1rem;
  color: var(--on-tertiary-container);
  fill: var(--on-tertiary-container);
}

.hamburger-socials :hover {
  fill: var(--on-tertiary);
}

.hamburger-socials a {
  border-radius: 100px;
  padding: .7rem;
  background-color: var(--tertiary-container);
}

.hamburger-socials a:hover {
  background-color: var(--tertiary);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
    /* Skryje hamburger na větších obrazovkách */
  }
}

svg {
  display: block;
}